@page "/counter"
@page "/brewery/{breweryId}"
@inject HttpClient Http

@if (pub == null)
{
    <p>There has been an error, click <a href="/">here</a> to return home</p>
}
else
{
    <PageTitle>@pub.name</PageTitle>
    <img src="images/pub.jpeg" height="50" width="50"/>
    
    <div id="google-maps-display" style="height:100%; width:100%;max-width:100%;">
        <iframe style="height:100%;width:100%;border:0;" 
            frameborder="0" 
            src="@mapUrl">
        </iframe>
    </div>  
}


@code {
    [Parameter]
    public string? breweryId { get; set; }
    private Brewery pub;
    private string? mapUrl;
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            pub = await Http.GetFromJsonAsync<Brewery>("https://api.openbrewerydb.org/v1/breweries/"+breweryId);
            mapUrl = getMap(pub.latitude, pub.longitude);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw e;
        }

    }

    public string getMap(string lat, string longit)
    {
        return $"https://www.google.com/maps/embed/v1/place?q={lat},{longit}&key=AIzaSyC5Lj9jbZC74qtZKB2GOiuEZjgkztE_RBY";
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    public class Brewery
    {
        public string id { get; set; }
        public string name { get; set; }
        public string brewery_type { get; set; }
        public string address_1 { get; set; }
        public string? address_2 { get; set; }
        public string? address_3 { get; set; }
        public string city { get; set; }
        public string state_province { get; set; }
        public string postal_code { get; set; }
        public string country { get; set; }
        public string longitude { get; set; }
        public string latitude { get; set; }
        public string phone { get; set; }
        public string website_url { get; set; }
        public string state { get; set; }
        public string street { get; set; }
    }
}
