@inherits LayoutComponentBase
@inject NavigationManager MyNavigationManager
<div class="page">

    <main>
        <div class="row">
            <a href="/" >Go Home</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
