@inherits LayoutComponentBase
@inject NavigationManager MyNavigationManager
<div class="page">

    <main>
        <div class="row">
            <a href="/" >Go Home</a>
        </div>

        <article class="content justify-content-center align-items-center" style="text-align:center;">
            @Body
        </article>
    </main>
</div>
